body{
    background-color: antiquewhite;
}
h1{
    color: darkred;
    text-align: center;
}
a.cafe {
    position: relative;
    top: 200px;
    left: 500px;
}
a.contacto {
    position: relative;
    top: 500px;
    left: 1000px;
}
img.tamano{
    width: 150;
    height: 150;
}
p.p1{
    color: darkred;
    
}
footer{
    background-color: antiquewhite;
    border: black 1px solid;
}