body{
    background-color: antiquewhite;
}
header.h1{
    color: darkred;
    text-align: center;
    border: black 1px solid;
}
.cafe {
    position: relative;
    top: 200px;
    left: 500px;
}
.contacto {
    position: relative;
    top: 500px;
    left: 1000px;
    
}
footer{
    background-color: antiquewhite;
    border: black 1px solid;
}